img {
	height: 200px;
  width: 20%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Oswald;
	margin-left: 1.66%;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 8px solid #f1f1f1;
	width: 30%
	
}